<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChangePassword</title>
</head>
<body>
   <form action="" method="post">
    {% csrf_token %}
    <h1 align="center">ChangePassword</h1>
    <table border="1" align="center">
        <tr>
            <td>Old Password</td>
            <td><input type="password" name="txt_opassword" id="txt_opassword"></td>
        </tr>
        <tr>
            <td>New Password</td>
            <td><input type="password" name="txt_npassword" id="txt_npassword"></td>
        </tr>
        <tr>
            <td>Confirm Password</td>
            <td><input type="password" name="txt_cpassword" id="txt_cpassword"></td>
        </tr>
        <tr>
            <td colspan="2" align="center"><input type="submit" value="Change"></td>
           
        </tr>
    </table>
   </form> 
</body>
{% if msg %}
<script>
    alert("{{msg}}")
    window.location="{% url 'Student:MyProfile' %}";
</script>
{% endif %}
{% if msg1 %}
<script>
    alert("{{msg1}}")
    window.location="{% url 'Student:MyProfile' %}";
</script>
{% endif %}
{% if msg2 %}
<script>
    alert("{{msg2}}")
    window.location="{% url 'Student:MyProfile' %}";
</script>
{% endif %}
</html>