<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
</head>
<body>
  
    <a href="{% url 'Student:MyProfile' %}">MyProfile</a>
     <a href="{% url 'Student:ViewNotes' %}">Notes</a>
     <a href="{% url 'Student:Post' %}">Post</a>
     <a href="{% url 'Student:ViewPost' %}">ViewPost</a>
     <a href="{% url 'Student:ViewCollege' %}">ViewCollege</a>
     <a href="{% url 'Student:ViewFaculty' %}">ViewFaculty</a>
     <a href="{% url 'Student:StudentList' %}">Studentlist</a>
      <a href="{% url 'Student:FollowRequest' %}">Requests</a>
      <a href="{% url 'Student:Followers' %}">Followers</a>
     
</body>
</html>