{% extends 'Student/head.html' %}
{% block content %}

<h2 align="center">View Notes</h2>

<form>
    {% csrf_token %}

    <table border="1" align="center" cellpadding="8">
        <tr>
            <td>Department</td>
            <td>
                <select id="sel_department">
                    <option value="">-- Select --</option>
                    {% for i in department %}
                    <option value="{{ i.id }}">{{ i.department_name }}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>

        <tr>
            <td>Course</td>
            <td>
                <select id="sel_course"></select>
            </td>
        </tr>

        <tr>
            <td>Semester</td>
            <td>
                <select id="sel_semester">
                    <option value="">-- Select --</option>
                    {% for i in semester %}
                    <option value="{{ i.id }}">{{ i.semester_name }}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>

        <tr>
            <td>Subject</td>
            <td>
                <select id="sel_subject"></select>
            </td>
        </tr>
    </table>
</form>

<br>

<table align="center" border="1" id="result" cellpadding="8">
    <tr>
        <th>SlNo</th>
        <th>File</th>
        <th>Description</th>
    </tr>

    {% for i in notes %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td><a href="{{ i.notes_file.url }}">File</a></td>
        <td>{{ i.notes_description }}</td>
    </tr>
    {% endfor %}
</table>


<!-- jQuery only ONCE -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script>
$(document).ready(function () {

    /* Load Course */
    $("#sel_department").change(function () {
        $.ajax({
            url: "{% url 'Student:AjaxCourse' %}",
            data: { did: $(this).val() },
            success: function (data) {
                $("#sel_course").html(data);
                $("#sel_subject").html("");
            }
        });
    });


    /* Load Subject */
    $("#sel_semester").change(function () {
        $.ajax({
            url: "{% url 'College:AjaxSubject' %}",
            data: {
                semid: $(this).val(),
                course: $("#sel_course").val()
            },
            success: function (data) {
                $("#sel_subject").html(data);
            }
        });
    });


    /* Filter Notes */
    $("#sel_department, #sel_course, #sel_semester, #sel_subject").change(function () {
        $.ajax({
            url: "{% url 'Student:AjaxCompresult' %}",
            data: {
                did: $("#sel_department").val(),
                cid: $("#sel_course").val(),
                sem: $("#sel_semester").val(),
                sub: $("#sel_subject").val()
            },
            success: function (data) {
                $("#result").html(data);
            }
        });
    });

});
</script>

{% endblock %}
