<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
</head>
<body>
  
    <a href="{% url 'College:CollegeProfile' %}">MyProfile</a>
    <a href="{% url 'College:CollegeDepartment' %}">Add Departments</a>
    <a href="{% url 'College:CollegeCourse' %}">Add Course</a>
    <a href="{% url 'College:FacultyRegistration' %}">FacultyRegistration</a>
    <a href="{% url 'College:Post' %}">Post</a>
    
</body>
</html>