<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
</head>
<body>
  
    <a href="{% url 'Faculty:MyProfile' %}">MyProfile</a>
     <a href="{% url 'Faculty:Notes' %}">Notes</a>
     <a href="{% url 'Faculty:Post' %}">Post</a>
      <a href="{% url 'Faculty:ViewPost' %}">ViewPost</a>
       <a href="{% url 'Faculty:ViewCollege' %}">ViewCollege</a>
       <a href="{% url 'Faculty:UserList' %}">UserList</a>
       <a href="{% url 'Faculty:ViewFaculty' %}">ViewFaculty</a>
       <a href="{% url 'Faculty:Followers' %}">followers</a>
    
</body>
</html>