<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AcademicYear</title>
</head>
<body>
<form action="" method="post">
        {% csrf_token %}
        <h1 align="center">Academic Year</h1>
        <table border="1" align="center">
            <tr>
                <td>Academic Year</td>
                <td><input type="text" name="txt_academicyear" id="txt_academicyear" value="{{editdata.academicyear_year}}"></td>
            </tr>
            <tr>
                
                <td colspan="2" align="center"><input type="submit" value="Submit"></td>
            </tr>
        </table>
        </form>
        <table border="1" align="center">
       
          <tr>
            <td>SlNo</td>
            <td>AcademicYear</td>
            <td>Actions</td>
          </tr>
               {% for i in year %}
          <tr>
            <td>{{forloop.counter}}</td>
            <td>{{i.academicyear_year}}</td>
            <td><a href="{% url 'Admin:delacademicyear' i.id %}">Delete</a>|<a href="{% url 'Admin:editacademicyear' i.id %}">Edit</a></td>
          </tr>
          {% endfor %}
        </table>
        
</body>
</html>
{% if msg %}
<script>
    alert("{{msg}}")
    window.location="{% url 'Admin:Academicyear' %}";
</script>
{% endif %}
{% if msg1 %}
<script>
    alert("{{msg1}}")
    window.location="{% url 'Admin:Academicyear' %}";
</script>
{% endif %}
{% if msg2 %}
<script>
    alert("{{msg2}}")
    window.location="{% url 'Admin:Academicyear' %}";
</script>
{% endif %}