<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
</head>
<body>
    <a href="{% url 'Admin:AdminRegistration' %}">AdminRegistration</a>
     <a href="{% url 'Admin:Category' %}">Category</a>
      <a href="{% url 'Admin:CollegeList' %}">CollegeList</a>
       <a href="{% url 'Admin:District' %}">District</a>
        <a href="{% url 'Admin:Place' %}">Place</a>
         <a href="{% url 'Admin:Subcategory' %}">Subcategory</a>
          <a href="{% url 'Admin:UserList' %}">UserList</a>
          <a href="{% url 'Admin:Department' %}">Department</a>
          <a href="{% url 'Admin:Course' %}">Course</a>
          <a href="{% url 'Admin:Academicyear' %}">Academicyear</a>
          <a href="{% url 'Admin:UserList' %}">StudentList</a>
          
    
    
</body>
</html>